{% extends 'layout.html' %}

{% block title %} 
    Inicio
{% endblock %}

{% block content %}
     <!-- Description -->
     <section id="description" class="card">
        <div class="card-header">
            <h4 class="card-title">Proyecto Final - Criptografia</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="card-text">
                    <p>
                        Entidad certificadora
                    </p>
                </div>
            </div>
        </div>      
    </section>
    <!--/ Description -->
{% endblock %}